{
    "build": {
        "dockerfile": "Dockerfile",
        "options": [
            "--network=host"
        ],
    },
    "runArgs": [
        "--network=host",
        "--ulimit=core=-1",
        "--cap-add=SYS_ADMIN",
        "--cap-add=SYS_PTRACE",
        "--cap-add=PERFMON",
        "--cap-add=SYS_NICE",   // allow NUMA page inquiry
        "--security-opt",
        "seccomp=unconfined",
        "--privileged"
    ],
    "forwardPorts": [
        5432
    ],
    "postCreateCommand": "bash ${containerWorkspaceFolder}/.devcontainer/post-create.sh",
    "customizations": {
        "vscode": {
            "extensions": [
                "eamodio.gitlens",
                "github.vscode-github-actions",
                "GitHub.copilot",
                "llvm-vs-code-extensions.vscode-clangd",
                "ms-vscode.cmake-tools",
                "ms-vscode.cpptools",
                "ms-vscode.cpptools-themes",
                "ms-vscode.hexeditor",
                "ms-vscode.makefile-tools",
                "ms-vsliveshare.vsliveshare",
                "rioj7.command-variable",
                "ash-blade.postgresql-hacker-helper"
            ],
            "settings": {
                "C_Cpp.intelliSenseEngine": "disabled",
                "clangd.arguments": [
                    "--compile-commands-dir=/tmp/pgiceberg-build/pg18.4",
                    "--background-index",
                    "--header-insertion=never",
                    "--completion-style=detailed",
                    "--query-driver=/usr/bin/g++-14,/usr/bin/gcc-14,/usr/lib/ccache/*,/usr/bin/c++,/usr/bin/g++"
                ],
                "files.exclude": {
                    "**/*.o": true,
                    "**/.deps/": true
                },
            }
        }
    },
}
